@model IEnumerable<GarageV2.ViewModels.ParkedCarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Parkerade Fordon</h1>

<p>
    <a asp-action="Create">Parkera</a>
</p>
<form asp-controller="Movies" asp-action="Index">
    <p>
        Reg-nummer: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RegNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParkedVehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeParked)
                </th>
              <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParkedVehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormatedTimeParked)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Information</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Checka UT</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
