@model ReceiptParkingViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Parkeringskvitto</h1>

<div>
    <h4>Information om det parkerade fordonet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemberFullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Checkout)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkout)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeParked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedTimeParked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormattedPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka till Parkerade Fordon</a>
</div>