@model DetailsMemberViewModel
@inject IMapper mapper
@inject GarageV2Context context

@{
    ViewData["Title"] = "Member Details";
}

<div>
    <h2>MedlemsInformation</h2>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParkedVehiclesInfo)
        </dt>
        @foreach (var item in Model.ParkedVehiclesInfo)
        {
            <dd class="col-sm-10">
                <a asp-controller="ParkedVehicles" asp-action="Details" asp-route-id="@item.Item1">@item.Item2</a>
            </dd>
        }
    </dl>

    @*@foreach (var item in Model.ParkedVehicles)
    {
        context.Entry(item).Reference(pv => pv.VehicleType).Load();
        var viewModel = mapper.Map<DetailVehicleViewModel>(item);
        <partial name="_ParkedVehicleInfo" model="viewModel" />
    }*@

</div>
<div>
    <a asp-action="Index">Tillbaka till Medlemslistan</a>
</div>


