@page
@model ParkedVehiclesModel
@{
    ViewData["Title"] = "Parked Vehicles";
}

<div class="container">
    <h1>Parked vehicles</h1>
    <hr />
    <div class="row">
        <div class="col-md-10 col-mb-10">
            <table class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Reg number</th>
                        <th>Vehicle type</th>
                        <th>Color</th>
                        <th>Parking time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var parkedVehicle in Model.ParkedVehiclesViewModel)
                {
                    <tr>
                        <td>@parkedVehicle.RegNo</td>
                        <td>@parkedVehicle.Type</td>
                        <td>@parkedVehicle.Color</td>
                        <td>@parkedVehicle.TimeParked.ToString(@"hh\:mm\:ss")</td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@parkedVehicle.Id">Edit</a> |
                            <a asp-page="Details" asp-route-id="@parkedVehicle.Id">Details</a> |*@
                            <a asp-page="ParkedVehicles" asp-page-handler="delete" asp-route-id="@parkedVehicle.Id">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>